<!DOCTYPE html>
<html ng-app="app">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>

<ng-view></ng-view>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular-route.min.js"></script>

<script type="text/ng-template" id="/todos.html">
    <h3>List: {{list.name}}</h3>
    <a href="/">Back to lists</a><br><br>
    Search: <input type="text" ng-model="search.task">
    <ul>
        <li ng-repeat="todo in todos | filter: search">
            <input type="checkbox" ng-model="todo.done" ng-true-value=1
                   ng-false-value=0
                   ng-change="update_todo_done({{todo.pk}}, ng-value)")>
            <a ng-show="!editing[$index]" href="#todo/{{todo.pk}}">{{todo.task}}</a>
        </li>
    </ul>
    New task <input type="text" ng-model="newTodo"><button ng-click="save()">Create</button><br><br>
    rename list: <input type="text" ng-model='list.name' ng-model-options="{debounce:1000}" ng-change="update_list()"><br><br>

</script>

<script type="text/ng-template" id="/todoDetails.html">
    <h1>{{ todo.task }}</h1>

    task name: <input type="text" ng-model="todo.task" ng-change="update_todo()" ng-model-options="{debounce:1000}"><br><br>
    done: <input type="checkbox" ng-model="todo.done" ng-true-value=1 ng-false-value=0 ng-change="update_todo()"><br>
    note: <textarea ng-model="todo.note" ng-change="update_todo()" ng-model-options="{debounce:1000}"></textarea><br><br>

    <button ng-click="remove_todo()">Delete Todo</button>

    <a href="/#/{{todo.list_pk}}">Cancel</a>
</script>


<script type="text/ng-template" id="/lists.html">
    Search: <input type="text" ng-model="search.name">
    <div ng-repeat="list in lists | filter: search">
        <a href="#/{{list.pk}}">{{list.name}}</a>
    </div>
</script>

<script>
    angular.module('app', ['ngRoute'])

        .factory('Lists', ['$http', function ($http) {
            return {
                getLists: function () {
                    return $http.get('/lists');
                },
                getList: function (pk) {
                    return $http.get('/lists/' + pk + "/detail/");
                }
            }
        }])

        .factory('Todos', ['$http', function ($http) {
            return {
                getTodos: function(param){
                    return $http.get('/lists/' + param);
                },
                getTodo: function(param){
                    return $http.get('/lists/todos/' + param);
                },
            };
        }])

        .controller('TodoController', ['$scope', '$http', 'Todos', 'Lists', '$routeParams', function ($scope, $http, Todos, Lists, $routeParams) {
            Todos.getTodos($routeParams.id)
                .then(function(data){
                    $scope.todos = data.data;
                    Lists.getList($routeParams.id).then(function (data) {
                        $scope.list = data.data;
                    })
                })

            $scope.save = function(){
                if(!$scope.newTodo || $scope.newTodo.length < 1) return;
                var todo = { task: $scope.newTodo, done: "0" }
                $scope.todos.push(todo);
                $http.post("/lists/" + $routeParams.id + "/", {task:$scope.newTodo});
                $scope.newTodo = '';
            }

            $scope.update_todo_done = function(pk, done){
                $http.put("/lists/todos/" + pk + "/", {done: $scope.todos.find(x => x.pk === pk).done});
            }

            $scope.update_list = function(){
                $http.put("/lists/" + $scope.list.pk, {name:$scope.list.name});
            }
            //
            // $scope.delete_list = function(){
            //     $http.put("/lists/" + $scope.list.pk, {name:$scope.list.name});
            // }
        }])

        .controller('ListController', ['$scope', 'Lists', function ($scope, Lists) {
            Lists.getLists()
                .then(function(data){
                    $scope.lists = data.data;
                })

        }])

        .controller('TodoDetailCtrl', ['$scope', '$http', '$routeParams', 'Todos', '$location', function ($scope, $http, $routeParams, Todos, $location) {
            Todos.getTodo($routeParams.id)
                .then(function(data){
                    $scope.todo = data.data;
                })

            $scope.remove_todo = function(){
                $http.delete("/lists/todos/" + $scope.todo.pk);
                $location.url('/' + $scope.todo.list_pk);
                console.log();
            }

            $scope.update_todo = function(){
                $http.put("/lists/todos/" + $scope.todo.pk, {done: $scope.todo.done, note: $scope.todo.note, task:$scope.todo.task});
            }
        }])

        .config(['$routeProvider', function ($routeProvider) {
            $routeProvider
                .when('/', {
                    templateUrl: '/lists.html',
                    controller: 'ListController'
                })
                .when('/:id', {
                    templateUrl: '/todos.html',
                    controller: 'TodoController'
                })

                .when('/todo/:id', {
                    templateUrl: '/todoDetails.html',
                    controller: 'TodoDetailCtrl'
                });
        }]);
</script>
</body>
</html>