<!DOCTYPE html>
<html ng-app="app">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>

<ng-view></ng-view>

<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>

<!-- Template -->
<script type="text/ng-template" id="/todos.html">
    <a href="/">Back to lists</a><br><br>
    Search: <input type="text" ng-model="search.task">
    <ul>
        <li ng-repeat="todo in todos | filter: search">
            <input type="checkbox" ng-model="todo.done" ng-true-value='1' ng-false-value='0'>
            <a ng-show="!editing[$index]" href="#todo/{{todo.pk}}">{{todo.task}}</a>
        </li>
    </ul>
    New task <input type="text" ng-model="newTodo"><button ng-click="save()">Create</button>
</script>

<script type="text/ng-template" id="/todoDetails.html">
    <h1>{{ todo.task }}</h1>

    done: <input type="checkbox" ng-model="todo.done" ng-true-value='1' ng-false-value='0'><br>
    note: <textarea ng-model="todo.note"></textarea><br><br>

    <button ng-click="update_todo()">Update</button>
    <button ng-click="remove_todo()">Remove</button>

    <a href="/">Cancel</a>
</script>


<script type="text/ng-template" id="/lists.html">
    Search: <input type="text" ng-model="search.name">
    <div ng-repeat="list in lists | filter: search">
        <a href="#/{{list.pk}}">{{list.name}}</a>
    </div>
</script>

<script>
    angular.module('app', ['ngRoute'])

        .factory('Lists', ['$http', function ($http) {
            return $http.get('/lists');
        }])

        .factory('Todos', ['$http', '$routeParams', function ($http, $routeParams) {
            return {
                getTodos: function(param){
                    return $http.get('/lists/' + param);
                },
                getTodo: function(param){
                    return $http.get('/lists/todos/' + param);
                },
            };
        }])

        .controller('TodoController', ['$scope', '$http', 'Todos', '$routeParams', function ($scope, $http, Todos, $routeParams) {
            Todos.getTodos($routeParams.id)
                .then(function(data){
                    $scope.todos = data.data;
                })

            $scope.save = function(){
                if(!$scope.newTodo || $scope.newTodo.length < 1) return;
                var todo = { task: $scope.newTodo, done: "0" }
                $scope.todos.push(todo);
                $http.post("/lists/" + $routeParams.id + "/", {task:$scope.newTodo});
                $scope.newTodo = '';
            }
        }])

        .controller('ListController', ['$scope', 'Lists', function ($scope, Lists) {
            Lists.success(function (data) {
                $scope.lists = data;
            })
        }])

        .controller('TodoDetailCtrl', ['$scope', '$http', '$routeParams', 'Todos', '$location', function ($scope, $http, $routeParams, Todos, $location) {
            Todos.getTodo($routeParams.id)
                .then(function(data){
                    $scope.todo = data.data;
                })

            $scope.remove_todo = function(){
                $http.delete("/lists/todos/" + $scope.todo.pk);
                $location.url('/' + $scope.todo.list_pk);
                console.log();
            }

            $scope.update_todo = function(){
                $http.put("/lists/todos/" + $scope.todo.pk);
            }
        }])

        .config(['$routeProvider', function ($routeProvider) {
            $routeProvider
                .when('/', {
                    templateUrl: '/lists.html',
                    controller: 'ListController'
                })
                .when('/:id', {
                    templateUrl: '/todos.html',
                    controller: 'TodoController'
                })

                .when('/todo/:id', {
                    templateUrl: '/todoDetails.html',
                    controller: 'TodoDetailCtrl'
                });
        }]);
</script>
</body>
</html>